* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #0a0a1a;
  color: white;
  text-align: center;
}

header {
  background: #222;
  padding: 15px;
}
header h1 {
  margin-bottom: 10px;
}
nav a {
  color: #7da6ff;
  margin: 0 15px;
  text-decoration: none;
}
nav a:hover {
  color: #fff;
}

.hero-img img {
  margin-top: 20px;
  width: 70%;
  border-radius: 20px;
  box-shadow: 0 0 30px cyan;
}

form {
  margin-top: 30px;
}
form input, form button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  border: none;
}
form button {
  background: #06063b;
  color: white;
  cursor: pointer;
}
form button:hover {
  background: #0f0f5e;
}
